@tailwind base;
@tailwind components;
@tailwind utilities;



/* Стили для полосы прокрутки в браузерах на базе WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Ширина вертикальной полосы прокрутки */
  height: 8px; /* Высота горизонтальной полосы прокрутки */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Цвет ползунка (thumb) */
  border-radius: 4px; /* Закругленные края для ползунка */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет дорожки полосы прокрутки */
  border-radius: 4px; /* Закругленные края дорожки */
}

/* Стили для Firefox */
html {
  scrollbar-width: thin; /* Устанавливаем тонкую полосу прокрутки в Firefox */
  scrollbar-color: #888 #f1f1f1; /* Цвет ползунка и дорожки в Firefox */
}


:root {
  --brand-font-light: rgb(244, 244, 244);
  --brand-font-dark: rgb(112, 112, 112);
  --brand-font-h: rgb(55, 55, 55);
  --brand-font-green: rgb(63, 194, 187);
  --brand-title-btn: rgb(44, 44, 44);
  --brand-bg-footer: rgb(11, 81, 77);
  --brand-bg-btn: rgb(255, 215, 3);
}
body {
 font-family: Poppins, sans-serif;
}