.section {
margin-top: 160px;
}
.wrapper {
    width: 1504px;
    height: 386px;
    margin: 0 auto;
    /* border:1px solid black; */
}
.title {
    color: rgb(55, 55, 55);
font-family: Poppins, sans-serif;
font-size: 60px;
font-weight: 400;
line-height: 90px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
}
.list {
    display: flex;
    justify-content: space-between;
}
.item {
    width: 480px;
    height: 264px;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* border:1px solid black; */
}
.blockName {
    display: flex;
    align-items: center;
    gap: 26px;
}
.blockName h3 {
    color: rgb(55, 55, 55);
font-family: Poppins, sans-serif;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.blockName h4 {
    color: rgb(63, 194, 187);
font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}
.item p {
    color: rgb(112, 112, 112);
font-family: Poppins,sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.1px;
text-align: left;
}